/* Elevator
=======================================*/
.elevator-container {
	margin-bottom: 4rem;
	border: 1px solid gray;
}

.elevator-container__contents {
	display: flex;
	justify-content: space-between;
	/* padding-top: 10px; */
}

/* Elevator Background
=======================================*/
.elevatorbackground-container {
	background-color: #67ff67;
	min-width: 70%;
}

/* Floor Indicator
=======================================*/
.floorindicator-container {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	background-color: rgb(80, 80, 80);
	padding: 1rem;
	font-size: 2rem;
}

.floorindicator-container__name {
	padding-right: 10px;
	color: rgb(255, 171, 171);
}

.floorindicator-container > * {
	margin: 0.5rem;
}

/* Control Panel
=======================================*/
.controlpanel-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	border: 1px solid gray;
	max-width: 50%;
	margin: 1rem;
	padding: 0px;
}

/* Elevator Button
=======================================*/
.elevator-button {
	margin: 0.5rem;
	padding: 1.5rem;
}
