/* Control Panel
=======================================*/
.controlpanel-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	border: 1px solid gray;
	margin-bottom: 20px;
	max-width: 50%;
}

.controlpanel-container > Button {
}

/* Elevator Button
=======================================*/
.elevator-button {
	margin: 0.5rem;
	padding: 1.5rem;
}
